.site-sidebar {
  max-width: 360px;
  padding: 20px;
  background-color: $brown-light;
  color: $white;
  @include media-breakpoint-down('md') {
    position: absolute;
    left: -360px;
    top: 0;
    z-index: 10;
    transition: all .5s ease;
    height: 100%;
  }
  .brand-logo {
    margin-bottom: 10px;
    .navbar-brand {
      margin-right: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .nav {
    .navbar-item {
      font-size: 24px;
      font-family: 'OpenSans-ExtraBold';
    }
    &.main-menu {
      list-style: disc;
      display: block;
      .navbar {
        .nav-item {
          width: 100%;
          padding-left: 20px;
          .nav-link {
            font-family: 'OpenSans-SemiBold';
            cursor: pointer;
            padding: 0;
            font-size: 20px;
            color: $white;
            &.active {
              font-family: 'OpenSans-ExtraBold';
            }
          }
        }
      }
    }
  }
}

.sidebar-view {
  .site-sidebar {
    left: 0;
    transition: all .5s ease;
  }
}